<div class="character--subclass-wrapper hidden">
	<label for="character--subclass">
		Subclass
	</label>
	<select id="character--subclass" onchange="{{>on-change-script}}">
		<option class="character--subclass__option hidden" data-character-class="rogue">Arcane Trickster</option>
		<option selected class="character--subclass__option hidden" data-character-class="rogue">Assassin</option>
		<option class="character--subclass__option hidden" data-character-class="rogue">Inquisitive</option>
		<option class="character--subclass__option hidden" data-character-class="rogue">Mastermind</option>
		<option class="character--subclass__option hidden" data-character-class="rogue">Scout</option>
		<option class="character--subclass__option hidden" data-character-class="rogue">Swashbuckler</option>
		<option class="character--subclass__option hidden" data-character-class="rogue">Thief</option>
	</select>
</div>
