<label for="character--race">
	Character Race
</label>
<select id="character--race" onchange="{{>on-change-script}}">
	<option>Aarakocra</option>
	<option>Aasimar</option>
	<option>Bugbear</option>
	<option>Dragonborn</option>
	<option>Dwarf</option>
	<option>Elf</option>
	<option>Feral Tiefling</option>
	<option>Firbolg</option>
	<option>Genasi</option>
	<option>Gnome</option>
	<option>Goblin</option>
	<option>Goliath</option>
	<option>Half-Elf</option>
	<option>Halfling</option>
	<option>Half-Orc</option>
	<option>Hobgoblin</option>
	<option>Human</option>
	<option selected>Kenku</option>
	<option>Kobold</option>
	<option>Lizardfolk</option>
	<option>Orc</option>
	<option>Tabaxi</option>
	<option>Tiefling</option>
	<option>Tortle</option>
	<option>Triton</option>
	<option>Yuan-ti Pureblood</option>
</select>