<label for="character--class">
	Character Class
</label>
<select id="character--class" onchange="{{>on-change-script}}">
	<option>Barbarian</option>
	<option>Bard</option>
	<option>Cleric</option>
	<option>Druid</option>
	<option>Fighter</option>
	<option>Monk</option>
	<option>Paladin</option>
	<option>Ranger</option>
	<option selected>Rogue</option>
	<option>Sorcerer</option>
	<option>Warlock</option>
	<option>Wizard</option>
</select>