<label for="character--race">
	Race
</label>
<select id="character--race" onchange="{{>on-change-script}}">
	<option value="Aarakocra">Aarakocra</option>
	<option value="Fallen Aasimar">Aasimar (Fallen)</option>
	<option value="Protector Aasimar">Aasimar (Protector)</option>
	<option value="Scourge Aasimar">Aasimar (Scourge)</option>
	<option value="Variant Aasimar">Aasimar (Variant)</option>
	<option value="Bugbear">Bugbear</option>
	<option value="Dragonborn">Dragonborn</option>
	<option value="Gray Dwarf">Dwarf (Gray)</option>
	<option value="Hill Dwarf">Dwarf (Hill)</option>
	<option value="Mountain Dwarf">Dwarf (Mountain)</option>
	<option value="Dark Elf">Elf (Dark)</option>
	<option value="Eladrin Elf">Elf (Eladrin)</option>
	<option value="High Elf">Elf (High)</option>
	<option value="Wood Elf">Elf (Wood)</option>
	<option value="Firbolg">Firbolg</option>
	<option value="Air Genasi">Genasi (Air)</option>
	<option value="Earth Genasi">Genasi (Earth)</option>
	<option value="Fire Genasi">Genasi (Fire)</option>
	<option value="Water Genasi">Genasi (Water)</option>
	<option value="Deep Gnome">Gnome (Deep)</option>
	<option value="Forest Gnome">Gnome (Forest)</option>
	<option value="Rock Gnome">Gnome (Rock)</option>
	<option value="Goblin">Goblin</option>
	<option value="Goliath">Goliath</option>
	<option value="Half-Elf">Half-Elf</option>
	<option value="Aquatic Half-Elf">Half-Elf (Aquatic)</option>
	<option value="Drow Half-Elf">Half-Elf (Drow)</option>
	<option value="High Half-Elf">Half-Elf (High)</option>
	<option value="Wood Half-Elf">Half-Elf (Wood)</option>
	<option value="Ghostwise Halfling">Halfling (Ghostwise)</option>
	<option value="Lightfoot Halfling">Halfling (Lightfoot)</option>
	<option value="Stout Halfling">Halfling (Stout)</option>
	<option value="Half-Orc">Half-Orc</option>
	<option value="Hobgoblin">Hobgoblin</option>
	<option value="Human">Human</option>
	<option value="Variant Human">Human (Variant)</option>
	<option selected value="Kenku">Kenku</option>
	<option value="Kobold">Kobold</option>
	<option value="Lizardfolk">Lizardfolk</option>
	<option value="Orc">Orc</option>
	<option value="Tabaxi">Tabaxi</option>
	<option value="Tiefling">Tiefling</option>
	<option value="Feral Tiefling">Tiefling (Feral)</option>
	<option value="Variant Tiefling">Tiefling (Variant)</option>
	<option value="Variant Feral Tiefling">FeralTiefling (Variant)</option>
	<option value="Tortle">Tortle</option>
	<option value="Triton">Triton</option>
	<option value="Yuan-ti Pureblood">Yuan-ti Pureblood</option>
</select>
